@charset "UTF-8";

/* header -----------------------------------------------------------------*/
header input{
	width : 500px;
	height : 40px;
	font-size : 1.2em;
}

header div{
	display : inline-block;
}

header button{
	width : 55px;
	height : 45px;
}

header{
	margin : auto;
	width : 1000px;
}

#logo:hover{
	cursor : pointer;
}

#search{
	position : relative;
	top : -20px;
	left : 120px;
}

#home{
	position : relative;
	top : -20px;
	left : 200px;
}

/* nav ----------------------------------------------------------------- */
.counseling{
	width : 120px;
	height : 60px;
	border-radius : 7px;
	background-color : #00CC66;
	text-align : center;
	line-height : 60px;
	display : inline-block;
	position : relative;
	left : 380px;
}

nav{
	width : 900px;
	margin : auto;
	margin-top : 30px;
	margin-bottom : 30px;
	position : relative;
	right : 50px;
}

.subCM{
	width : 120px;
	position : absolute;
	top : 55px;
	background-color : #00CC66;
	display : none;
	z-index : 1;
	border-radius : 0px 0px 7px 7px;
}

.subCM dt{
	text-align : center;
}

.carMaker:hover>.subCM{
	display : block;
}

.carMaker{
	width : 120px;
	height : 60px;
	border-radius : 7px;
	background-color : #00CC66;
	text-align : center;
	line-height : 60px;
	display : inline-block;
	position : relative;
	left : 180px;
}

/* index ----------------------------------------------------------------- */
section{
	width : 900px;
	margin : auto;
	position : relative;
	right : 50px;
}

.banner1{
	width : 850px;
	height : 180px;
	border : 1px solid black;
}

.pCar{
	width : 430px;
	margin : 0px;
	display : inline-block;
}

.pCar>table>tbody>tr+tr>td:nth-child(1){
	width : 120px;
	height : 100px;
}

.nCar{
	width : 430px;
	margin : 0px;
	display : inline-block;
}

.nCar>table>tbody>tr+tr>td:nth-child(1){
	width : 120px;
	height : 100px;
}

.pnCar{
	position : relative;
	top : 50px;
}

/* aside ----------------------------------------------------------------- */
aside{
	position : absolute;
	left : 900px;
	top : -100px;
	display : inline-block;
}

.banner2{
	width : 150px;
	height : 180px;
	border : 1px solid black;
	display : inline-block;
	margin-top : 50px;
}

.banner3{
	width : 150px;
	height : 250px;
	border : 1px solid black;
	display : inline-block;
	margin-top : 50px;
}

.loginB{
	width : 150px;
	height : 120px;
	font-size : 1.5em;
	background-color : #CCE5FF;
	border-radius : 10px;
}

.loginB>div:nth-child(1){
	font-size : 0.8em;
	text-align : center;
	position : relative;
	top : 10px;
}

.loginB>div>span:nth-child(1){
	color : #9400D3;
}

.loginB>div:nth-child(2){
	cursor : pointer;
	font-size : 0.6em;
	text-align : center;
	position : relative;
	top : 20px;
}

.loginB>a:hover{
	cursor : pointer;
}