@charset "UTF-8";

article{
	width : 500px;
	margin : 25vh auto;
}

form{
	width : 300px;
	margin : auto;
	position : relative;
	top : 20px;
}

.in{
	width : 250px;
	height : 35px;
}

form div{
	margin-bottom : 25px;
}

.joinSub{
	width : 258px;
	height : 41px;
}

.logo{
	position : relative;
	left : 40px;
	margin-bottom : 20px;
}

.logo:hover{
	cursor: pointer;
}

span{
	position : absolute;
	font-size : 0.8em;
	color : red;
}

#find{
	margin : auto;
	font-size : 0.8em;
	text-align : center;
	position : relative;
	right : 25px;
}

#find>a:hover{
	cursor : pointer;
}

#find a{
	color : black;
	text-decoration-line : none;
}